@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
html
{
    background: rgb(34, 98, 195);
    background: linear-gradient(90deg, rgb(34, 90, 195) 0%, rgba(222,167,66,1) 67%, rgba(253,187,45,1) 100%, rgba(55,45,24,1) 152%);  
}
#slideShow
{   display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 50vw;
    height:30vw; 
    margin:auto;
    border: 2px solid black;
}
img
{
    width: 50vw;
    height:30vw; 
}

#stop 
{
    margin: auto;
    background-color: rgb(127, 187, 255);
    font-size:x-large;
    padding:1vw;
    font-family:'Dancing Script', cursive;
}
h1
{
font-family:'Dancing Script', cursive;
text-shadow: 2px 2px rgba(253,187,45,1);
font-weight: bold;
font-size: xx-large;
text-align: center;
}